@charset "utf-8";


// helpers and settings
@import "general/helpers/mixins";
@import "settings";


// img
$imgpath: "../img/";
$pictpath: "../pictures/";


// main libraries
@import "normalize";
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/visibility";


// general elements
@import 'general/images';
@import 'general/content';
@import 'general/elements';
@import 'general/layout/header';
@import 'general/layout/body';
@import 'general/layout/footer';


// pages
@import 'content/home';
@import 'content/project';
@import 'content/category';
@import 'content/clients';
@import 'content/faq';
@import 'content/contacts';
@import 'content/shop';

// interactive
@import 'content/interactive/commonstyle';



@keyframes waves {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(30px);
	}
	100% {
		transform: translateY(0px);
	}
}
@keyframes waves_shadow {
	0% {
		transform: translateY(0px) translateX(-50%) scaleY(0.15);
		opacity: 0.02;
	}
	50% {
		transform: translateY(-60px) translateX(-50%) scaleY(0.15);
		opacity: 0.1;
	}
	100% {
		transform: translateY(0px) translateX(-50%) scaleY(0.15);
		opacity: 0.02;
	}
}




