<div class="row offers">
	{{#offers}}
	<div class="columns large-12">
		<div class="items-wrapper">
			{{#item}}
			<div class="item">
				<div>
					<div class="image" style="background:url('{{{image}}}') no-repeat"></div>
					<div class="text">
						<div class="top">
							<div class="top-left">
								<p>{{{top-left-1}}}</p>
								<p class="cleave">/</p>
								<p>{{{top-left-2}}}</p>
							</div>
							<div class="top-right">
								<p>{{{top-right-1}}}</p>
								<p class="cleave">/</p>
								<p>{{{top-right-2}}}</p>
							</div>
						</div>
						<div class="bottom">
							<p>{{{text}}}</p>
						</div>
					</div>
				</div>
			</div>
			{{/item}}
		</div>
	</div>
	{{/offers}}
</div>