.project {
	overflow: hidden;
	transition: all .4s 0s ease;
	.show-materials &, .show-colors & {
		transition: all .6s 0s ease;
		filter: blur(20px);
	}

	> div {
		margin: 120px auto;
		//outline: 1px solid red;
		@media #{$tablet-up} {							// 854
			margin: 220px auto;
		}
	}

	// constructor
	.constructor {
		margin-top: 0;

		// images
		.images-wrapper {
			.small-images {
				position: relative;
				z-index: 1;
				display: table;
				width: 100%;
				> div {
					width: 25%;
					display: inline-block;
					padding: 0 4%;
					> div {
						opacity: 0.4;
						position: relative;
						display: table-cell;
						vertical-align: middle;
						&.active {
							opacity: 1;
						}
						img {
							cursor: pointer;
						}
					}
				}
			}
			.home-image {
				> div {
					text-align: center;
					img {
						max-height: 600px;
						height: auto;
						display: block;
						margin: 40px auto;
					}
				}
			}
		}

		// property
		.property {
			.name {
				margin: 0;
					color: $color-text-2;
					font-size: 16px;
					font-weight: 300;
					line-height: 180%;
				span {
					display: block;
						font-size: 32px;
				}
			}
			.choice-wrapper {
				position: relative;
				margin: 60px 0 20px 0;
				> div {
					float: left;
					width: 140px;
					.title {
						margin: 0 0 16px 0;
						width: 90px;
							text-align: center;
							font-size: 16px;
							font-weight: 300;
					}
					.wrapper {
						position: relative;
						width: 120px;
						height: 120px;
						.elect {
							background-color: #efefef;
							cursor: pointer;
							z-index: 1;
							position: absolute;
							top: 0;
							left: 0;
							width: 90px;
							height: 90px;
							border-radius: 100%;
							background-size: cover !important;
							background-repeat: no-repeat !important;
							background-position: center !important;
						}
						.rainbow {
							display: none;
							position: absolute;
							top: 50%;
							left: 50%;
							width: calc(100% + 40px);
							height: calc(100% + 40px);
							transform: translate(-50%, -50%);
							> div {
								position: absolute;
								top: 0;
								left: 50%;
								width: 16px;
								height: 50%;
								margin: 0 0 0 -8px;
								transform-origin: bottom center;
								p {
									display: none;
								}
								> span {
									position: absolute;
									width: 100%;
									height: 16px;
									border-radius: 100%;
									cursor: pointer;
									&:after {
										display: none;
										content: '';
										position: absolute;
										top: 50%;
										left: 50%;
										width: calc(100% + 8px);
										height: calc(100% + 8px);
										transform: translate(-50%, -50%);
										border-radius: 100%;
										border: 1px solid $color-1;
									}
									&.active {
										&:after {
											display: block;
										}
									}
								}
							}
						}
					}
				}
			}
			.small-sizes {
				font-size: 0;
				.size-1 {
					font-size: 0;
					> span {
						cursor: pointer;
						margin: 0 8px 0 0;
						width: 40px;
						height: 40px;
						border: 1px solid #fff;
						border-radius: 100%;
						display: inline-block;
						vertical-align: middle;
							font-size: 16px;
							font-weight: 400;
							line-height: 38px;
							text-align: center;
							color: $color-text-2;
						&:last-child {
							margin: 0;
						}
						&:hover {
							border: 1px solid rgba(0,0,0,0.1);
						}
						&.active {
							border: 1px solid $color-1;
						}
					}
				}
				.size-2 {
					margin: 40px 0 0 0;
						font-size: 0;
					> div {
						width: 33.33334%;
						vertical-align: middle;
						display: inline-block;
							font-size: 16px;
							color: $color-text-2;
						&.height {
							padding: 0 0 0 13px;
							background: image-url('small-height.png') no-repeat center left;
						}
						&.width {
							padding: 0 0 0 23px;
							background: image-url('small-width.png') no-repeat center left;
						}
						&.diametr {
							padding: 0 0 0 20px;
							background: image-url('small-diametr.png') no-repeat center left;
						}
					}
				}
				.price-wrapper {
					width: 100%;
					display: block;
					margin: 40px 0 0 0;
						font-size: 16px;
					.price, .order {
						display: inline-block;
						vertical-align: middle;
					}
					.price {
						display: block;
						margin: 0 0 40px 0;
							font-size: 16px;
							color: $color-1;
							font-weight: 400;
						span {
							font-size: 36px;
						}
					}
					.order {
						position: relative;
						top: 0;
					}
				}
			}
		}

		@media #{$xx_mobile-up} {						// 481
			.property {
				.name {
					font-size: 24px;
					span {
						font-size: 48px;
					}
				}
				.small-sizes {
					.size-1 {
						width: 40%;
						display: inline-block;
						vertical-align: middle;
					}
					.size-2 {
						margin: 0;
						width: 60%;
						display: inline-block;
						vertical-align: middle;
					}
					.price-wrapper {
						margin: 64px 0 0 0;
						.price {
							margin: 0 56px 0 0;
							display: inline-block;
						}
					}
				}
			}
		}
		@media #{$tablet-up} {							// 854
			.images-wrapper {
				float: left;
				width: 50%;
				.small-images {
					height: 480px;
					width: 50px;
					float: left;
					display: block;
					padding: 32px 0;
					> div {
						width: auto;
						height: 18%;
						display: table;
						padding: 0;
					}
				}
				.home-image {
					height: 480px;
					width: calc(100% - 50px);
					float: right;
					display: table;
					padding: 0 0 0 40px;
					> div {
						display: table-cell;
						vertical-align: middle;
						img {
							display: inline-block;
							margin: 0;
						}
					}
				}
			}
			.property {
				float: right;
				width: 50%;
				padding: 0 0 0 60px;
				.name {
					font-size: 16px;
					span {
						font-size: 32px;
					}
				}
				.choice-wrapper {
					margin: 56px 0 16px 0;
				}
				.small-sizes {
					.size-1 {
						width: 100%;
						display: block;
					}
					.size-2 {
						margin: 40px 0 0 0;
						width: 100%;
						display: block;
					}
					.price-wrapper {
						margin: 40px 0 0 0;
						.price {
							margin: 0 40px 0 0;
						}
					}
				}
			}
		}
		@media #{$monitor-up} {							// 1261
			.images-wrapper {
				width: 58%;
				.small-images {
					width: 70px;
					> div {
						height: 22%;
					}
				}
				.home-image {
					width: calc(100% - 70px);
				}
			}
			.property {
				width: 42%;
				padding: 0 0 0 70px;
				.name {
					font-size: 24px;
					span {
						font-size: 48px;
					}
				}
				.choice-wrapper {
					margin: 74px 0 68px 0;
					> div {
						width: 50%;
						padding: 0 0 20px 20px;
						.title {
							margin: 0 0 48px -20px;
							width: calc(120px + 40px);
								font-size: 18px;
						}
						.wrapper {
							.elect {
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
							.rainbow {
								display: block;
							}
						}
					}
				}
				.small-sizes {
					.size-1 {
						width: 40%;
						display: inline-block;
						vertical-align: middle;
					}
					.size-2 {
						margin: 0;
						width: 60%;
						display: inline-block;
						vertical-align: middle;
					}
					.price-wrapper {
						margin: 58px 0 0 0;
						.price {
							margin: 0 56px 0 0;
							display: inline-block;
						}
					}
				}
			}
		}
	}

	// guarantee
	.guarantee {
		position: relative;
		#webgl-container {
			position: absolute;
			//top: 120px;
			top: 220px;
			left: 0;
			z-index: -1;
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 140px;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0+23,0.5+53,1+86,1+100 */
				background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 23%, rgba(255,255,255,0.5) 53%, rgba(255,255,255,1) 86%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.5) 53%,rgba(255,255,255,1) 86%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 23%,rgba(255,255,255,0.5) 53%,rgba(255,255,255,1) 86%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			}
		}
		.text-wrapper {
			text-align: center;
			.description {
				margin: 62px 0 72px 0;
				p {
					margin: 0;
						font-size: 18px;
						text-align: center;
						font-weight: 300;
						line-height: 140%;
				}
				span {
					margin: 24px auto;
					&.str {
						width: 44px;
						height: 10px;
						background: image-url('str.png') no-repeat center;
					}
					&.plus {
						width: 19px;
						height: 18px;
						background: image-url('plus.png') no-repeat center;
					}
				}
				> * {
					display: block;
				}
			}
			.order {
				display: inline-block;
			}
		}
		.image-wrapper {
			.image {
				animation: waves 6s infinite;
				position: relative;
				//margin: 80px 0 0 0;
				margin: 40px auto 0;
				//width: 100%;
				width: 80%;
				padding-top: 100%;
				background-position: center !important;
				background-size: contain !important;
				&:after {
					animation: waves_shadow 6s infinite;
					content: '';
					position: absolute;
					bottom: -240px;
					left: 50%;
					width: 600px;
					height: 300px;
					transform: translateX(-50%) scaleY(0.15);
					filter: blur(10px);
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0+49,0+100 */
					background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 49%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
					background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 49%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
					background: radial-gradient(ellipse at center,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 49%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				}
			}
		}

		@media #{$xxx_mobile-up} {						// 641
			#webgl-container {
				top: 50px;
			}
			.text-wrapper {
				.description {
					> * {
						display: inline-block;
						vertical-align: middle;
					}
					span {
						margin: 0 24px;
					}
				}
			}
			.image-wrapper {
				.image {
					padding-top: 70%;
				}
			}
		}
		@media #{$tablet-up} {							// 854
			.image-wrapper {
				.image {
					padding-top: 50%;
				}
			}
		}
		@media #{$monitor-up} {							// 1261
			padding: 60px 0 0 0;
			#webgl-container {
				top: -60px;
			}
			.text-wrapper {
				position: absolute;
				top: 0;
				left: 8px;
			}
			.image-wrapper {
				.image {
					max-width: 52%;
					float: right;
					margin: -60px 0 0 -16px;
					padding-top: 50%;
					background-position: bottom center !important;
				}
			}
		}
		@media #{$xx_monitor-up} {						// 1681
			#webgl-container {
				top: -30px;
			}
		}
	}

	// waves
	.waves-wrapper {
		position: relative;
		height: 400px;
			font-size: 6px;
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 1000px;
			background: #fff;
		}
		h2 {
			position: absolute;
			top: 50px;
			left: 0;
			width: 100%;
				text-align: center;
		}
		> div {
			height: 100%;
		}
		.image {
			position: absolute !important;
			bottom: 0;
			left: 50% !important;
			top: auto !important;
			margin: 0 0 em(16px,-140px) em(16px,-960px);
			height: em(16px,400px);
			width: em(16px,1920px);
			pointer-events: none;
			img {
				display: block;
				margin: 0 auto;
				width: em(16px,1920px);
			}
			&.waves-1 {
				z-index: 1;
			}
			&.waves-2 {
				z-index: 3;
			}
			&.waves-3 {
				z-index: 4;
			}
			&.girls {
				z-index: 2;
				img {
					width: em(16px,1152px);
					margin-top: em(16px,-390px);
					transform: translate(em(16px,80px), 0px);
				}
			}
			&.girls-2 {
				z-index: 4;
				img {
					margin-top: em(16px,-390px);
				}
			}
		}

		@media #{$xx_mobile-up} {						// 481
			height: 450px;
				font-size: 8px;
		}
		@media #{$xxx_mobile-up} {						// 641
			height: 550px;
				font-size: 10px;
		}
		@media #{$tablet-up} {							// 854
			height: 600px;
				font-size: 12px;
			.text {
				top: 0;
			}
		}
		@media #{$x_tablet-up} {						// 1025
			height: 700px;
				font-size: 14px;
		}
		@media #{$monitor-up} {							// 1261
			height: 750px;
				font-size: 16px;
			.text {
				margin: 145px 0 0 -265px;
			}
		}
	}

	// sizes
	.sizes {
		padding: 46px 0 32px 0;
		.content {
			text-align: center;
			.item {
				margin: 0 0 140px 0;
				position: relative;
				&:last-child { margin: 0; }
				&:nth-child(1) {
					.description { left: 0px; }
					.height { right: 0px; }
				}
				&:nth-child(2) {
					text-align: right;
					.image {
						display: inline-block;
					}
					.description { right: 0px; }
					.height { left: 0px; }
				}
			}
			.image {
				//height: 420px;
				padding-top: 100%;
				width: calc(100% - 70px);
				background-size: contain !important;
			}
			.description {
				margin: 0;
				position: absolute;
				top: -46px;
					font-weight: 300;
				span {
					margin: 0 16px 0 0;
					width: 46px;
					height: 46px;
					border: 1px solid $color-1;
					border-radius: 100%;
					display: inline-block;
						font-size: 18px;
						text-align: center;
						line-height: 42px;
						font-weight: 700;
						color: $color-text;
				}
			}
			.width, .height {
				overflow: hidden;
				z-index: 1;
				position: absolute;
					text-align: center;
					font-size: 16px;
					font-weight: 300;
			}
			.width {
				left: 50%;
				bottom: -8px;
				width: calc(100% - 80px);
				background: #fff;
				overflow: hidden;
				transform: translateX(-50%);
				&:after, &:before {
					content: '';
					position: absolute;
					top: 50%;
					border: 5px solid;
					transform: translateY(-50%);
					margin: 1px 0 0 0;
				}
				&:after {
					border-color: transparent #efefef transparent transparent;
					left: -5px;
				}
				&:before {
					border-color: transparent transparent transparent #efefef;
					right: -5px;
				}
				> span {
					display: inline-block;
					position: relative;
					&:after, &:before {
						content: '';
						position: absolute;
						top: 50%;
					}
					&:after {
						z-index: -2;
						left: 50%;
						transform: translateX(-50%);
						width: 10000px;
						height: 2px;
						background: #efefef;
						margin: 0;
					}
					&:before {
						z-index: -1;
						background: #fff;
						left: 50%;
						transform: translate(-50%, -50%);
						width: calc(100% + 20px);
						height: calc(100% + 20px);
					}
				}
			}
			.height {
				top: 50%;
				transform: translateY(-50%);
				height: calc(100% - 50px);
					white-space: nowrap;
				&:after, &:before {
					content: '';
					position: absolute;
					left: 50%;
					border: 5px solid;
					transform: translateX(-50%);
					margin: 0 0 0 0;
				}
				&:after {
					border-color: transparent transparent #efefef transparent;
					top: -5px;
				}
				&:before {
					border-color: #efefef transparent transparent transparent;
					bottom: -5px;
				}
				> span {
					position: relative;
					top: calc(50% - 10px);
					&:after, &:before {
						content: '';
						position: absolute;
						top: 50%;
					}
					&:after {
						z-index: -2;
						top: 50%;
						left: 50%;
						transform: translateY(-50%);
						width: 2px;
						height: 10000px;
						background: #efefef;
						margin: 0 0 0 -1px;
					}
					&:before {
						z-index: -1;
						background: #fff;
						left: 50%;
						transform: translate(-50%, -50%);
						width: calc(100% + 20px);
						height: calc(100% + 20px);
					}
				}
			}
		}

		@media #{$tablet-up} {							// 854
			.content {
				font-size: 0;
				.item {
					margin: 0;
					display: inline-block;
					vertical-align: top;
					width: 50%;
						font-size: 16px;
					&:nth-child(1) {
						.description { left: 32px; }
						.height { right: 24px; }
						.width { margin: 0 0 0 -30px }
					}
					&:nth-child(2) {
						.description { right: 32px; }
						.height { left: 24px; }
						.width { margin: 0 0 0 30px }
					}
				}
				.image {
					//width: calc(100% - 80px);
					padding-top: 80%;
					width: calc(100% - 100px);
				}
				.width {
					bottom: -24px;
					width: calc(100% - 100px);
				}
				.height {
					height: calc(100% - 10px);
				}
			}
		}
	}
	
	// delivery
	.delivery {
		text-align: center;
		.content {
			padding: 72px 0 0 0;
			background: image-url('ico-1.png') no-repeat center top;
			p {
				margin: 0;
					color: $color-text;
					font-size: 20px;
					font-weight: 300;
					line-height: 120%;
			}
			.order {
				display: inline-block;
				margin: 48px 0 0 0;
			}
		}
	}

	// accessories
	.accessories {
		margin-bottom: 0;
		h2 {
			text-align: center;
		}
		.items-wrapper {
			margin: 60px 0 0 0;
			.item {
				.image {
					max-width: 300px;
				}
			}
		}

		@media #{$tablet-up} {							// 854
			.items-wrapper {
				margin: 110px 0 0 0;
			}
		}
	}
}

// materials
.elements-wrapper {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0s, opacity 0s 0s ease;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(255,255,255,0.8);
	.title {
		margin: 0 0 42px;
			font-size: 30px;
			font-weight: 300;
			text-align: center;
	}
	.materials, .colors {
		.wrapper > div span:after {
			opacity: 0;
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 100%;
			border: 1px solid $color-1;
			transform: translate(-50%, -50%);
			transition: all .3s ease;
		}
	}
	.materials {
		transition: visibility 0s .2s;
		.wrapper {
			> div {
				span {
					width: calc(100% - 40px);
					height: calc(100% - 40px);
					&:after {
						width: calc(100% + 20px);
						height: calc(100% + 20px);
					}
					// &:hover {
					// 	&:not(.active) {
					// 		width: calc(100% + 10px);
					// 		height: calc(100% + 10px);
					// 	}
					// }
					&.active {
						opacity: 0.6;
						cursor: default;
						width: calc(100% - 80px);
						height: calc(100% - 80px);
						&:after {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.colors {
		transition: visibility 0s .2s;
		.wrapper {
			> div {
				span {
					width: calc(100% - 20px);
					height: calc(100% - 20px);
					&:after {
						width: calc(100% + 16px);
						height: calc(100% + 16px);
					}
					// &:hover {
					// 	&:not(.active) {
					// 		width: calc(100% + 10px);
					// 		height: calc(100% + 10px);
					// 	}
					// }
					&.active {
						opacity: 0.6;
						cursor: default;
						width: calc(100% - 40px);
						height: calc(100% - 40px);
						&:after {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.close {
		margin: 24px auto 0;
		display: block;
		width: 200px;
		cursor: pointer;
		border: 1px solid $color-1;
		border-radius: 25px;
		height: 50px;
			line-height: 48px;
			text-align: center;
			text-transform: uppercase;
			font-size: 16px;
			color: $color-1;
	}

	// styles for desktop
	.full-version & {
		display: table;
		> div {
			display: table-cell;
			vertical-align: middle;
		}
		.materials, .colors {
			position: relative;
			width: 100%;
			padding: 24px 0;
			.wrapper {
				position: relative;
				width: 120%;
					font-size: 0;
					white-space: nowrap;
				> div {
					position: relative;
					cursor: pointer;
					outline: none;
					display: inline-block;
					vertical-align: top;
					//border: 1px solid black;
					border-radius: 100%;
					span {
						position: absolute;
						top: 50%;
						left: 50%;
						display: block;
						border-radius: 100%;
						transition: all .3s ease;
						transform: translate(-50%, -50%);
					}
				}
			}
		}
	}

	// styles for mobile
	.mobile & {
		padding: 72px 0 0 0;
		.title {
			margin: 0 0 32px;
				font-size: 26px;
		}
		.materials {
			margin: 0 0 48px 0;
		}
		.owl-controls {
			display: none;
		}
		.owl-materials, .owl-colors {
			.owl-item .item {
				&.active {
					&:after {
						opacity: 1;
					}
				}
			}
		}
		.owl-materials {
			.owl-stage-outer {
				position: relative;
				overflow: hidden;
				padding: 16px 0;
			}
			.owl-item {
				position: relative;
				float: left;
				height: 200px;
				.item {
					position: absolute;
					top: 0;
					left: 50%;
					width: 200px;
					height: 200px;
					transform: translateX(-50%);
					border-radius: 100%;
				}
				p {
					display: none;
					position: absolute;
				}
			}
		}
		.owl-colors {
			.owl-item {
				position: relative;
				float: left;
				height: 100px;
				.item {
					position: absolute;
					top: 0;
					left: 50%;
					width: 100px;
					height: 100px;
					transform: translateX(-50%);
					border-radius: 100%;
				}
				p {
					display: none;
					position: absolute;
				}
			}
		}
	}

	// open materials
	.show-materials & {
		visibility: visible;
		opacity: 1;
		transition: visibility 0s 0s, opacity .6s .5s ease;
		.colors {
			display: none;
		}
	}
	// open colors
	.show-colors & {
		visibility: visible;
		opacity: 1;
		transition: visibility 0s 0s, opacity .6s .5s ease;
		.materials {
			display: none;
		}
	}
}
