
// step 1
.woocommerce {
	.shop-enjoy {
		//outline: 1px solid red;
		.details {
			float: left;
				font-size: 16px;
				font-weight: 300;
				color: $color-text;
		}

		// thead
		.thead {
			display: none;
			padding: 0 0 26px 0;
				font-size: 0;
				white-space: nowrap;
			> span {
				outline: 1px solid red;
				padding: 4px 16px;
				display: inline-block;
				vertical-align: top;
					font-size: 20px;
					font-weight: 300;
					text-align: right;
				&.product-remove {
					display: none;
				}
				&.product-thumbnail {
					width: 20%;
				}
				&.product-name {
					width: 35%;
				}
				&.product-price {
					width: 15%;
				}
				&.product-quantity {
					width: 15%;
				}
				&.product-subtotal {
					width: 15%;
						text-align: right;
				}
			}
		}

		// tbody
		.tbody {
			position: relative;
			padding: 100px 0;
				color: #fff;
				font-weight: 300;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 100vw;
				height: 100%;
				background: $color-1;
				z-index: -1;
			}
				font-size: 0px;

			> div, > a, > span {
				outline: 1px solid red;
				padding: 8px 16px;
				display: block;
				width: 100%;
					font-size: 16px;
					text-align: right;
			}

			// remove
			.remove {
				position: relative;
				top: 27.65vw;
				z-index: 1;
				display: block;
				width: 26px;
				height: 26px;
				border-radius: 0px;
				padding: 0;
				float: right;
				margin: 0 13px -26px 0;
				&:hover {
					background: none;
				}
				&:after, &:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					width: 100%;
					height: 1px;
					background: #989898;
				}
				&:after {
					transform: rotate(45deg);
				}
				&:before {
					transform: rotate(-45deg);
				}
			}

			// photo
			.photo {
				text-align: center;
				img {
					width: 40vw;
					height: 40vw;
					margin: 50px 0 16px 0;
					border-radius: 100%;
					display: inline-block;
				}
			}

			// name
			.name {
				text-decoration: none;
				line-height: 120%;
				color: #fff;
			}

			// variation
			.variation {
				font-size: 0;
				.item {
					display: inline-block;
					vertical-align: top;
						font-size: 16px;
					&:last-child {
						.value .coma {
							display: none;
						}
					}
					.type {
						display: none;
					}
					.value {
						p {
							display: inline-block;
							vertical-align: top;
							margin: 0;
						}
						.coma {
							display: inline-block;
							vertical-align: top;
							font-size: 16px;
							padding: 0 4px 0 0;
							margin: 0 0 0 -4px;
						}
					}
				}
			}

			// price
			.woocommerce-Price-amount {
				
			}

			// quantity
			.quantity {
				input {
					outline: none;
					border: 1px solid $border;
				}
			}
			.quantity + .woocommerce-Price-amount {
				
			}

			// coupon
			.coupon {
				display: block;
				width: 100%;
				padding: 0;
				margin: 130px 0 0 0;
					text-align: left;
				label {
					display: block;
					width: 100%;
					margin: 0 0 40px 0;
						color: $color-text;
						font-size: 40px;
						font-weight: 300;
						text-transform: uppercase;
						line-height: 100%;
				}
				input[type="text"], input[type="submit"] {
					display: block;
					width: 240px;
				}
				input[type="text"] {
					border-radius: 40px;
					border: 1px solid $border;
					outline: none;
					margin: 24px 0 16px;
					padding: 14px 16px;
					&::-webkit-input-placeholder {color: #7e7e7e; opacity: 0.55; font-weight: 300;}
					&::-moz-placeholder          {color: #7e7e7e; opacity: 0.55; font-weight: 300;}
					&:-moz-placeholder           {color: #7e7e7e; opacity: 0.55; font-weight: 300;}
					&:-ms-input-placeholder      {color: #7e7e7e; opacity: 0.55; font-weight: 300;}
				}
				input[type="submit"] {
					outline: none;
					background: none;
					border: 1px solid $color-1;
					border-radius: em(16px,100px);
					padding: em(16px,15px) em(16px,42px);
						text-decoration: none;
						text-transform: uppercase;
						color: $color-1;
						font-weight: 400;
				}
			}
			
		}
	}

	.cart-collaterals {
		width: 100%;
		margin: 105px 0 0 0;
		&:after {
			content: '';
			position: absolute;
		}
		table, th, td {
			border: none !important;
			background-color: none;
		}
		table.shop_table {
			float: right;
			max-width: 180px;
			margin: 0 0 32px 0;
			border-radius: 0;
			th {
				font-weight: 400;
				text-align: left;
			}
			td {
				text-align: right;
			}
			th, td {
				padding: 4px 0;
			}
			tr {
				&.cart-subtotal {
					span {
						color: $color-1;
						font-size: 20px;
						font-weight: 300;
						line-height: 100%;
					}
				}
				&.order-total {
					td strong {
						color: $color-1;
						font-size: 20px;
						font-weight: 600;
						line-height: 100%;
					}
				}
			}
		}
		.cart_totals.calculated_shipping {
			float: none;
			width: 100%;
				text-align: right;
		}
		.wc-proceed-to-checkout {
			clear: both;
			.button {
				background: none;
				border: 1px solid $color-1;
				border-radius: em(16px,100px);
				padding: em(16px,15px) em(16px,42px);
					text-decoration: none;
					text-transform: uppercase;
					color: $color-1;
					font-weight: 400;
				&:hover {
					background: none;
					color: $color-1;
				}
			}
		}
		h2 {
			margin: 0 0 40px 0;
		}
	}

	@media #{$xxx_mobile-up} {						// 641
		.shop-enjoy {
			.details {
				display: none;
			}
			.thead {
				display: block;
			}
			.tbody {
				> div, > a, > span {
					padding: 16px 16px;
					display: inline-block;
					vertical-align: middle;
						text-align: left;
				}
				.remove {
					float: none;
					top: 2.65vw;
					margin: 0 0 -26px 0;
				}
				.photo {
					width: 20%;
					img {
						width: 5vw;
						height: 5vw;
						margin: 0;
					}
				}
				.name {
					width: 15%;
				}
				.variation {
					width: 20%;
				}
				.woocommerce-Price-amount {
					width: 15%;
				}
				.quantity {
					width: 15%;
				}
				.quantity + .woocommerce-Price-amount {
					text-align: right;
				}

				.coupon {
					text-align: left;
					label {
						width: auto;
					}
					input[type="text"] {
						margin: 0 16px 0 0;
					}
					input[type="text"], input[type="submit"] {
						display: inline-block;
						width: auto;
					}
				}
			}
		}
		.cart-collaterals {
			//max-width: 50%;
		}
	}
}

// step 2
.woocommerce .woocommerce-billing-fields {
	h3 {
		margin: 40px 0;
	}
	label {
		padding: 0 0 8px 0;
	}
	input {
		border-radius: 40px;
		border: 1px solid #eaeaea;
		outline: none;
		padding: 14px 16px;
	}
	.form-row .required {
		font-weight: 300;
	}
}
