.cart-wrapper {
	.content-wrapper {
		overflow: hidden;
	}
}
.woocommerce {
	.woocommerce-error, .woocommerce-info, .woocommerce-message {
		margin: 0 0 60px !important;
	}
}

// step 1
.woocommerce {
	.shop-enjoy {
		//outline: 1px solid red;
		.details {
			float: left;
				font-size: 14px;
				font-weight: 300;
				color: $color-text-2;
		}

		// thead
		.thead {
			display: none;
			padding: 0 0 26px 0;
				font-size: 0;
			> span {
				//outline: 1px solid red;
				padding: 4px 16px;
				display: inline-block;
				vertical-align: top;
					font-size: 16px;
					font-weight: 300;
					text-align: left;
				&.product-remove {
					display: none;
				}
				&.product-thumbnail {
					width: 48%;
				}
				&.product-name {
					width: 20%;
				}
				&.product-price {
					width: 12%;
				}
				&.product-quantity {
					width: 8%;
				}
				&.product-subtotal {
					width: 12%;
						text-align: right;
				}
			}
		}

		// tbody
		.tbody {
			position: relative;
			max-width: 380px;
			margin: 0 auto;
				font-size: 0px;

			> div, > a, > span {
				//outline: 1px solid red;
				padding: 8px 16px;
				display: block;
				width: 100%;
					font-size: 16px;
					text-align: right;
			}

			// remove
			.remove {
				position: relative;
				top: 27.65vw;
				z-index: 1;
				display: block;
				width: 26px;
				height: 26px;
				border-radius: 0px;
				padding: 0;
				float: right;
				margin: 0 13px -26px 0;
				&:hover {
					background: none;
				}
				&:after, &:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					width: 100%;
					height: 1px;
					background: rgba(0, 0, 0, 0.5);
				}
				&:after {
					transform: rotate(45deg);
				}
				&:before {
					transform: rotate(-45deg);
				}
			}

			// photo
			.photo {
				text-align: center;
				img {
					width: 40vw;
					height: 40vw;
					margin: 50px 0 16px 0;
					border-radius: 100%;
					display: inline-block;
				}
			}

			// name
			.name {
				text-decoration: none;
				line-height: 120%;
				color: $color-1;
			}

			// variation
			.variation {
				font-size: 0;
				.item {
					display: inline-block;
					vertical-align: top;
						font-size: 16px;
					&:last-child {
						.value .coma {
							display: none;
						}
					}
					.type {
						display: none;
					}
					.value {
						p {
							display: inline-block;
							vertical-align: top;
							margin: 0;
						}
						.coma {
							display: inline-block;
							vertical-align: top;
							font-size: 16px;
							padding: 0 4px 0 0;
							margin: 0 0 0 -4px;
						}
					}
				}
			}

			// price
			.woocommerce-Price-amount {
				
			}

			// quantity
			.quantity {
				input {
					outline: none;
					border: 1px solid #fff;
					border-radius: 15px;
					background: $color-1;
						color: #fff;
				}
			}
			.quantity + .woocommerce-Price-amount {
				
			}

			// coupon
			.coupon {
				display: block;
				width: 100%;
				padding: 0;
				margin: 130px 0 0 0;
					text-align: left;
				label {
					display: block;
					width: 100%;
					margin: 0 0 40px 0;
						color: $color-text;
						font-size: 40px;
						font-weight: 300;
						text-transform: uppercase;
						line-height: 100%;
				}
				input[type="text"], input[type="submit"] {
					display: block;
					width: 240px;
				}
				input[type="text"] {
					border-radius: 40px;
					border: 1px solid $border;
					outline: none;
					margin: 24px 0 16px;
					padding: 14px 16px;
					&::-webkit-input-placeholder {color: #7e7e7e; opacity: 0.55; font-weight: 300;}
					&::-moz-placeholder          {color: #7e7e7e; opacity: 0.55; font-weight: 300;}
					&:-moz-placeholder           {color: #7e7e7e; opacity: 0.55; font-weight: 300;}
					&:-ms-input-placeholder      {color: #7e7e7e; opacity: 0.55; font-weight: 300;}
				}
				input[type="submit"] {
					outline: none;
					background: none;
					border: 1px solid $color-1;
					border-radius: em(16px,100px);
					padding: em(16px,15px) em(16px,42px);
						text-decoration: none;
						text-transform: uppercase;
						color: $color-1;
						font-weight: 400;
				}
			}
		}
	}

	.cart-collaterals {
		width: 100%;
		margin: 75px 0 0 0;
		&:after {
			content: '';
			position: absolute;
		}
		table, th, td {
			border: none !important;
			background-color: transparent !important;
		}
		table.shop_table {
			max-width: 180px;
			margin: 0 0 32px 0;
			border-radius: 0;
			th {
				font-weight: 400;
				text-align: left;
			}
			td {
				text-align: right;
			}
			th, td {
				padding: 4px 0;
			}
			tr {
				&.cart-subtotal {
					span {
						color: $color-1;
						font-size: 20px;
						font-weight: 300;
						line-height: 100%;
					}
				}
				&.order-total {
					td strong {
						color: $color-1;
						font-size: 20px;
						font-weight: 600;
						line-height: 100%;
					}
				}
			}
		}
		.cart_totals.calculated_shipping {
			float: none;
			width: 100%;
		}
		.wc-proceed-to-checkout {
			clear: both;
			.button {
				background: none;
				border: 1px solid $color-1;
				border-radius: em(16px,100px);
				padding: em(16px,15px) em(16px,42px);
					text-decoration: none;
					text-transform: uppercase;
					color: $color-1;
					font-weight: 400;
				&:hover {
					background: none;
					color: $color-1;
				}
			}
		}
		h2 {
			margin: 0 0 40px 0;
		}
	}

	@media #{$xxx_mobile-up} {						// 641
		.shop-enjoy {
			.details {
				display: none;
			}
			.thead {
				display: block;
			}
			.tbody {
				max-width: none;
				margin: 0;
				padding: 40px 0;
					color: #fff;
					font-weight: 300;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 100vw;
					height: 100%;
					background: $color-1;
					z-index: -1;
				}
				.remove {
					&:after, &:before {
						background: rgba(255, 255, 255, 0.5);
					}
				}
				.name {
					color: #fff;
				}
				> div, > a, > span {
					padding: 16px 16px;
					display: inline-block;
					vertical-align: middle;
						text-align: left;
				}
				.remove {
					float: none;
					top: 2.65vw;
					margin: 0 0 -26px 0;
				}
				.photo {
					width: 13%;
					margin: 0 0 0 4%;
					img {
						width: 5vw;
						height: 5vw;
						margin: 0;
					}
				}
				.name {
					width: 31%;
				}
				.variation {
					width: 20%;
				}
				.woocommerce-Price-amount {
					width: 12%;
				}
				.quantity {
					width: 8%;
				}
				.quantity + .woocommerce-Price-amount {
					text-align: right;
				}

				.coupon {
					text-align: left;
					label {
						width: auto;
					}
					input[type="text"] {
						margin: 0 16px 0 0;
					}
					input[type="text"], input[type="submit"] {
						display: inline-block;
						width: auto;
					}
				}
			}
		}
		.cart-collaterals {
			//max-width: 50%;
		}
	}
	@media #{$x_tablet-up} {						// 1025
		.shop-enjoy {
			.thead {
				padding: 0 10vw 26px 0;
				> span {
					font-size: 20px;
				}
			}
			.tbody {
				padding: 100px 10vw 100px 0;
			}
		}
	}
}

// step 2
.woocommerce {

	// деталі замовлення
	#customer_details {
		.col-1, .col-2 {
			float: none;
			width: 100%;
		}
		h3 {
			margin: 0 0 30px 0;
		}
		label {
			padding: 0 0 8px 0;
		}
		input, textarea {
			border-radius: 26px;
			border: 1px solid #eaeaea;
			outline: none;
			padding: 14px 16px;
		}
		textarea {
			height: 100px;
		}
		.select2-choice {
			border-radius: 26px;
			border: 1px solid #eaeaea;
			padding: 8px 16px;
			.select2-arrow {
				width: 50px;
				b:after {
					border: 6px solid transparent;
					border-top-color: $border;
					margin-left: -11px;
					margin-top: -2px;
				}
			}
		}
		// left
		.woocommerce-billing-fields {
			.form-row .required {
				font-weight: 300;
			}
		}
		// right
		.woocommerce-shipping-fields {
			h3 {
				margin: 64px 0 30px 0;
			}
		}
	}

	// ваше замовлення
	#order_review_heading {
		margin: 50px 0 40px 0;
	}
	.woocommerce-checkout-review-order {
		table.shop_table {
			border: none;
			margin: 0 0 48px 0;
			border-radius: 0;
			td, th {
				padding: 15px 0;
			}
			td, tfoot th {
				border-top: 1px solid $border;
			}
		}
		.product-name {
			.type {
				display: none;
			}
			p, .coma {
				margin: 0;
				display: inline-block;
			}
			.variation {
				.item {
					display: inline-block;
					&:last-child {
						.coma {
							display: none;
						}
					}
				}
			}
		}
		.product-total {
			text-align: right;
		}
		.cart-subtotal {
			td {
				text-align: right;
			}
		}
		.order-total {
			td {
				text-align: right;
			}
		}
	}

	@media #{$x_tablet-up} {						// 1025
		#customer_details {
			.col-1, .col-2 {
				float: left;
				width: 48%;
			}
			.col-2 {
				float: right;
			}
			.woocommerce-shipping-fields {
				h3 {
					margin: 0 0 30px 0;
				}
			}
		}
		.woocommerce-checkout-review-order {
			table.shop_table {
				max-width: 48%;
			}
		}
	}
}

// step 3
.woocommerce {
	.woocommerce-thankyou-order-received {
		margin: 0;
	}
	.woocommerce-thankyou-order-details.order_details {
		padding: 0;
		margin: 16px 0;
		li {
			float: none;
			text-transform: uppercase;
			font-size: 12px;
			line-height: 100%;
			border-right: none;
			border-bottom: 1px solid $border;
			padding: 24px 30px 16px 0;
			strong {
				display: block;
				margin: 4px 0 0 0;
					font-size: 30px;
					text-transform: none;
					line-height: 140%;
					color: $color-1;
					font-weight: 300;
			}
		}
	}
	.order-details {
		h3 {
			margin: 64px 0 30px;
		}
		table.shop_table {
			border: none;
			margin: 0;
			border-radius: 0;
			th, td {
				padding: 15px 0;
				border-top: 1px solid $border;
			}
			thead {
				.product-total {
					text-align: right;
				}
				th {
					border: none;
				}
			}
			tbody {
				.product-name {
					a {
						color: $color-1;
						text-decoration: none;
					}
					.variation {
						margin: 0;
						dt {
							display: none;
						}
						dd {
							padding: 0;
							margin: 0;
							float: none;
							p {
								margin: 0;
							}
						}
					}
				}
				.product-total {
					text-align: right;
				}
			}
			tfoot {
				td {
					text-align: right;
				}
			}
		}
	}
	.details-client {
		h3 {
			margin: 64px 0 30px;
		}
		table.shop_table {
			border: none;
			margin: 0;
			border-radius: 0;
			th, td {
				border-top: 1px solid $border;
				padding: 15px 0;
			}
			tbody {
				td {
					text-align: right;
				}
			}
		}
	}

	@media #{$x_tablet-up} {						// 1025
		.woocommerce-thankyou-order-details.order_details {
			li {
				float: left;
				padding: 12px 2vw 2px 0;
				margin: 8px 2vw 8px 0;
				border-right: 1px solid $border;
				border-bottom: none;
			}
		}
		.order-details {
			table.shop_table {
				width: 48%;
			}
		}
		.details-client {
			table.shop_table {
				width: 48%;
			}
		}
	}
}
