<div class="category">
	{{#category}}
	<div class="row">
		<div class="columns large-12">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>
	<div class="row max-none collapse standard-items">
		<div class="columns large-12">
			<div class="items-wrapper">
				<div>
					{{#item}}
					<div class="item {{{class}}}">
						<div class="wrapper">
							<div>
								<div class="image" style="background:url('{{{image}}}') no-repeat center"></div>
								<h3 class="name">{{{name}}}<span>{{{name-big}}}</span></h3>
								<a href="#" class="order">Замовити</a>
								<span class="price"><span>{{{price}}}</span> грн</span>
							</div>
						</div>
					</div>
					{{/item}}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="columns large-12">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>
	{{/category}}
</div>