<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="category">
	<div class="row max-none collapse">
		<div class="columns large-12 items-wrapper">
			
			<div class="item item-1">
				<p class="name"></p>
				<div class="image"></div>
				<div class="number"></div>
			</div>
			<div class="item item-2">
				<p class="name"></p>
				<div class="image"></div>
				<div class="number"></div>
			</div>
			<div class="item item-3">
				<p class="name"></p>
				<div class="image"></div>
				<div class="number"></div>
			</div>
			<div class="item item-4">
				<p class="name"></p>
				<div class="image"></div>
				<div class="number"></div>
			</div>
			<div class="item item-5">
				<p class="name"></p>
				<div class="image"></div>
				<div class="number"></div>
			</div>
			<div class="item item-6">
				<p class="name"></p>
				<div class="image"></div>
				<div class="number"></div>
			</div>

		</div>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>