<br>
<br>
<br>
<br>
<br>
<div class="materials-wrapper">
	<div>
		{{#project-materials}}
		<div class="materials">
			<p class="title">Оберіть матеріал</p>
			<div class="close"></div>
			<div class="wrapper owl-materials">
				{{#item-materials}}
				<div>
					<span class="item" style="background:url('{{{image}}}') no-repeat center" data-img="{{{image}}}"></span>
					<p>{{{name}}}</p>
				</div>
				{{/item-materials}}
			</div>
		</div>
		<div class="colors">
			<p class="title">Оберіть колір</p>
			<div class="wrapper owl-colors">
				{{#item-colors}}
				<div>
					<span class="item" style="background:url('{{{image}}}') no-repeat center" data-img="{{{image}}}" data-item="{{{number}}}"></span>
					<p>{{{name}}}</p>
				</div>
				{{/item-colors}}
			</div>
		</div>
		{{/project-materials}}
	</div>
</div>
<div class="project">
	{{#project}}

	<!-- constructor -->
	<div class="constructor">
		<div class="row">
			<div class="columns large-12">
				<div class="row extended">
					<div class="columns large-12 clearfix">
						<div class="images-wrapper clearfix">
							<div class="small-images">
								<div><div class="active"><img class="item" src="pictures/img5.png" alt="" data-img="pictures/img5.png"></div></div>
								<div><div><img class="item" src="pictures/img3.png" alt="" data-img="pictures/img3.png"></div></div>
								<div><div><img class="item" src="pictures/img.png" alt="" data-img="pictures/img.png"></div></div>
								<div><div><img class="item" src="pictures/img4.png" alt="" data-img="pictures/img4.png"></div></div>
							</div>
							<div class="home-image">
								<div>
									<img id="zoom-project" src='pictures/img11.png' data-zoom-image="pictures/img11.png"/>
								</div>
							</div>
						</div>
						<div class="property">
							<h1 class="name">Крісло-груша<span>Original Quadro</span></h1>
							<div class="choice-material">
								<div class="wrapper">
									<div class="elect-materials" style="background:url('pictures/materials/6.jpg') no-repeat center"></div>
									<div class="colors-wrapper">
										{{#item-colors}}
										<div>
											<span class="item" style="background:url('{{{image}}}') no-repeat center" data-img="{{{image}}}" data-item="{{{number}}}"></span>
											<p>{{{name}}}</p>
										</div>
										{{/item-colors}}
									</div>
								</div>
							</div>
							<div class="small-sizes">
								<div class="size-1">
									<span class="active">S</span>
									<span>M</span>
									<span>L</span>
								</div>
								<div class="size-2">
									<div class="height"><span>70</span> см</div>
									<div class="width"><span>70</span> см</div>
									<div class="diametr"><span>70</span> см</div>
								</div>
								<div class="price-wrapper">
									<div class="price"><span>1299</span> грн</div>
									<a href="#" class="order">Замовити</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- gallery items -->
	<div class="row max-none collapse gallery-items">
		<div class="columns large-12">
			<div class="items-wrapper">
				<div>
				{{#item}}
				<div class="item {{{class}}}">
					<div class="wrapper">
						<div>
							<div class="image" style="background:url('{{{image}}}') no-repeat center"></div>
							<div class="text-wrapper">
								<p>{{{text}}}</p>
							</div>
						</div>
					</div>
				</div>
				{{/item}}
				</div>
			</div>
		</div>
	</div>

	<!-- guarantee -->
	<div class="row max-none guarantee">
		<div class="columns large-12">
			<div class="row">
				<div class="columns large-12">
					<div class="text-wrapper">
						<h2>М’яке і легке крісло</h2>
						<div class="description">
							<p>вдосконалений<br>наповнювач</p>
							<span class="str"></span>
							<p>не просідає<br>(гарантія 12 місяців)</p>
							<span class="plus"></span>
							<p>додатковий<br>безкоштовно</p>
						</div>
						<a href="#" class="order">Замовити</a>
					</div>
					<div class="image-wrapper clearfix">
						<div class="image" style="background:url('pictures/img13.png') no-repeat;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- waves -->
	<div class="row max-none waves-wrapper" id="waves">
		<div class="columns large-12">
			<h2 class="text">Можна плюхкатись</h2>
			<div class="layer image waves waves-1" data-depth="0.05">
				<img src="img/waves/waves1.png" alt="">
			</div>
			<div class="layer image waves waves-2" data-depth="0.2">
				<img src="img/waves/waves2.png" alt="">
			</div>
			<div class="layer image waves waves-3" data-depth="0.45">
				<img src="img/waves/waves3.png" alt="">
			</div>
			<div class="layer image girls girls-1" data-depth="0.12">
				<img src="img/waves/girls1.png" alt="">
			</div>
			<div class="layer image girls girls-2" data-depth="0.12">
				<img src="img/waves/girls2.png" alt="">
			</div>
		</div>
	</div>

	<!-- sizes -->
	<div class="row sizes">
		<div class="columns large-12">
			<div class="row extended">
				<div class="columns large-12">
					<div class="content clearfix">
						{{#size-items}}
						<div class="item">
							<div class="image" style="background:url('{{{image}}}') no-repeat center"></div>
							<p class="description"><span>{{{size-1}}}</span>Ріст {{{size-2}}} см</p>
							<div class="width"><span><span>{{{width}}}</span> см</span></div>
							<div class="height"><span><span>{{{height}}}</span> см</span></div>
						</div>
						{{/size-items}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- delivery -->
	<div class="row delivery">
		<div class="columns large-12">
			<div class="row">
				<div class="columns large-12">
					<div class="content">
						<p>Виконується за 1-3 дні. Доставка до дверей</p>
						<a href="#" class="order">Замовити</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- standard items -->
	<div class="row max-none collapse standard-items accessories">
		<div class="columns large-12">
			<h2>Аксесуари</h2>
			<div class="items-wrapper">
				<div>
					{{#accessories.item}}
					<div class="item {{{class}}}">
						<div class="wrapper">
							<div>
								<div class="image" style="background:url('{{{image}}}') no-repeat center"></div>
								<h3 class="name">{{{name}}}<span>{{{name-big}}}</span></h3>
								<a href="#" class="order">Замовити</a>
								<span class="price"><span>{{{price}}}</span> грн</span>
							</div>
						</div>
					</div>
					{{/accessories.item}}
				</div>
			</div>
		</div>
	</div>
	{{/project}}
</div>