<!-- gallery -->
<div class="row max-none collapse gallery-items">
	<div class="columns large-12">
		<div class="items-wrapper">
			<div>
				{{#about.item}}
				<div class="item {{{class}}}">
					<div class="wrapper">
						<div>
							<div class="image" style="background:url('{{{image}}}') no-repeat center"></div>
							<div class="text-wrapper">
								<div>
									<h3>{{{title}}}</h3>
									<p>{{{text}}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/about.item}}
			</div>
		</div>
	</div>
</div>

<!-- comments -->
<br>
<br>
<br>
<br>
<br>
<div class="comments">
	<div class="row">
		<div class="columns large-12">
			<p>comments here</p>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
