<!-- other -->
<div class="color">
	<div class="row">
		<div class="columns large-12">
			<h2 class="title center">Меблі Enjoy</h2>
		</div>
	</div>
	<div class="row">
		<div class="columns large-12 items-wrapper small-item">
			<div class="item">
				<img src="img/advant-1.png" alt="">
				<h4>Облаштування<br>інтер’єру</h4>
			</div>
			<div class="item">
				<img src="img/advant-1.png" alt="">
				<h4>Розробка індивідуального<br>дизайну меблів</h4>
			</div>
			<div class="item">
				<img src="img/advant-1.png" alt="">
				<h4>Нанесення фірмового<br>логотипу чи тексту УФ друком</h4>
			</div>
		</div>
	</div>
</div>

<!-- gallery items -->
<div class="row max-none collapse gallery-items">
	<div class="columns large-12">
		<div class="items-wrapper">
			<div>
				{{#clients.item}}
				<div class="item {{{class}}}">
					<div class="wrapper">
						<div>
							<div class="image" style="background:url('{{{image}}}') no-repeat center"></div>
							<div class="text-wrapper">
								<div>
									<h3>{{{title}}}</h3>
									<p>{{{text}}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/clients.item}}
			</div>
		</div>
	</div>
</div>

<!-- other -->
<div class="color">
	<div class="row">
		<div class="columns large-12">
			<h2 class="title center">Довгострокова співпраця</h2>
		</div>
	</div>
	<div class="row">
		<div class="columns large-12 items-wrapper small-item">
			<div class="item">
				<img src="img/advant-1.png" alt="">
				<h4>Довічне післяпродажне<br>обслуговування</h4>
			</div>
			<div class="item">
				<img src="img/advant-1.png" alt="">
				<h4>Розробка індивідуального<br>дизайну меблів</h4>
			</div>
			<div class="item">
				<img src="img/advant-1.png" alt="">
				<h4>Нанесення фірмового<br>логотипу чи тексту УФ друком</h4>
			</div>
			<div class="item">
				<img src="img/advant-1.png" alt="">
				<h4>Гнучка цінова<br>політика</h4>
			</div>
		</div>
	</div>
</div>

<!-- consultation -->
<div class="consultation">
	<div class="row">
		<div class="columns large-12">
			<h2 class="center">Готові консультувати</h2>
		</div>
	</div>
	<div class="row">
		<div class="large-12 items-wrapper">
			{{#clients.consultation}}
			<div class="item">
				<div class="image" style="background:url({{{image}}}) no-repeat center"></div>
				<div class="text">
					<p class="name">{{{name}}}</p>
					<p class="tel">{{{tel}}}</p>
					<p class="position">{{{position}}}</p>
					<a href="#" class="order">Консультація</a>
				</div>
			</div>
			{{/clients.consultation}}
		</div>
	</div>
</div>

<!-- partners -->
<div class="partners">
	<div class="row">
		<div class="columns large-12">
			<h2 class="center">Нам довіряють</h2>
		</div>
	</div>
	<div class="row">
		<div class="large-8 large-centered items-wrapper">
			{{#clients.logos}}
			<img src="{{{image}}}" alt="" class="item">
			{{/clients.logos}}
		</div>
	</div>
</div>


