<footer>
	<div class="row">
		<div class="columns large-6 large-centered">
			<div class="menu-wrapper">
				<ul class="menu">
					<li><a href="#">Про компанію</a></li>
					<li><a href="#">Каталог</a></li>
					<li><a href="#">Клієнтам</a></li>
					<li><a href="#">Статті</a></li>
					<li><a href="#">Контакти</a></li>
				</ul>
			</div>
			<div class="social-wrapper">
				<a href="#" class="face"></a>
				<a href="#" class="insta"></a>
			</div>
			<div class="copyring">
				<p>© Enjoy</p>
			</div>
			<div class="developer">
				<a href="http://bambukstudio.com" target="_blank">Designed & Developed by Bambuk</a>
			</div>
		</div>
	</div>
</footer>