<div class="row">
	<div class="columns large-12">
		<div class="row">
			<div class="columns large-12">
				<div class="text-wrapper">
					<div class="text">
						<p>вул. Морозна 19а, Львів</p>
						<p>(098) 062 25 50<br>
							(093) 475 64 54
						</p>
						<a href="mailto:info@enjoybrand.com.ua">info@enjoybrand.com.ua</a>
					</div>
					<div class="form-wrapper">
						<form method="POST" id="formx" action="javascript:void(null);" onsubmit="form()" autocomplete="off">
							<input class="form-cont" name="name" type="text" data-title="form" key="name" placeholder="Ім'я *" required="">
							<input class="form-cont" name="phone" type="text" data-title="form" key="phone" placeholder="Телефон *" required="">
							<input class="form-cont" name="mail" type="email" data-title="form" key="mail" placeholder="E-mail *" required="">
							<textarea class="form-cont" name="message" id="" cols="30" rows="7" key="text" data-title="form" placeholder="Текст повідомлення *" required=""></textarea>
							<input class="button form-cont order" data-title="form" type="submit" key="submit" value="Надіслати">
						</form>
					</div>
				</div>
				<div class="map-wrapper">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>
</div>