<header>
	<div class="header-wrapper">
		<div class="logo-wrapper">
			<img src="img/logo.png" alt="">
		</div>
		<div class="menu-wrapper">
			<ul class="menu">
				<li><a href="#">Про компанію</a></li>
				<li><a href="#">Каталог</a></li>
				<li><a href="#">Клієнтам</a></li>
				<li><a href="#">Статті</a></li>
				<li><a href="#">Контакти</a></li>
			</ul>
		</div>
		<div class="bucket-wrapper">
			<div class="bucket">
				<span class="count">10</span>
			</div>
		</div>
		<div class="open-menu-button">
			<span></span><span></span><span></span>
		</div>
	</div>
</header>